{% extends "activity-logs/settings/_layout" %}
{% import '_includes/forms.twig' as forms %}
{% set selectedNavItem = 'settings' %}
{% set content %}
    <form method="post" accept-charset="UTF-8" data-saveshortcut="">

        {{ csrfInput() }}

        <input type="hidden" name="action" value="activity-logs/settings/save-settings">
        <input type="hidden" name="pluginHandle" value="activity-logs">
        <input type="hidden" name="redirect" value="{{ 'settings/activity-logs'|hash }}">

        {{ forms.lightswitchField({
            first: true,
            label: 'Record Site Page Requests',
            name: 'settings[recordSitePageRequests]',
            on: settings.recordSitePageRequests
        }) }}

        {{ forms.lightswitchField({
            first: true,
            label: 'Record Site AJAX Requests',
            name: 'settings[recordSiteAjaxRequests]',
            on: settings.recordSiteAjaxRequests
        }) }}

        {{ forms.lightswitchField({
            label: 'Record Control Panel Page Requests',
            name: 'settings[recordCpPageRequests]',
            on: settings.recordCpPageRequests
        }) }}

        {{ forms.lightswitchField({
            label: 'Record Control Panel AJAX Requests',
            description:'Note: Login request is recorded even when this option is turned off',
            name: 'settings[recordCpAjaxRequests]',
            on: settings.recordCpAjaxRequests
        }) }}

        {{ forms.lightswitchField({
            label: 'Record Only Actions',
            name: 'settings[recordOnlyActions]',
            on: settings.recordOnlyActions
        }) }}

        <div class="buttons">
            <input type="submit" class="btn submit force" value="{{ 'Save'|t('app') }}">
        </div>
    </form>

{% endset %}